* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
body * {
  font-family: Inter;
}

/* LOADER */
.loader {
  position: fixed; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  z-index: 9999; 
  background-color: #FFFFFF99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 4px solid #263870;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #263870 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* NAVBAR */
.itb-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  z-index: 9990;
  background-color: white;
  border-bottom: 1px solid black;
}
.itb-navbar .title {
  text-align: center; 
  font-size: 16px; 
  line-height: 45px;
  font-weight: 500;
}
.powered-by {
  position: absolute; 
  right: 10px; 
  top: 5px
}
.powered-by .text {
  vertical-align: middle; 
  font-size: 14px;
}
.powered-by img {
  vertical-align: middle;
}
@media(max-width: 768px) {
  .powered-by {
    display: none;
  }
}

/* PAGE CONTENT */
.page-content {
  position: relative; 
  margin-top: 45px; 
  background-color: #ebeef7; 
  min-height: calc(100vh - 45px);
}
.page-content-inner {
  text-align: center; 
  position: relative;
  max-width: 1900px;
  margin: 0 auto;
  padding-bottom: 80px;
}

/* METRICS */
.metrics {
  padding: 20px 20px 0px 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}
.metric {
  background: white;
  text-align: left;
  border-radius: 3px;
  padding: 12px 12px 5px 12px;
  box-shadow: rgba(81, 107, 152, 0.15) 0px 1px 4px;
  border: 1px solid rgb(243, 241, 241);
  font-size: 14px;
  width: 100%;
}
.metric.half {
  width: calc(50% - 10px);
}
.metric.third {
  width: calc((100% / 3) - 10px);
}
.metric:last-child {
  margin-right: 0px;
}
.metric .title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}
@media(max-width: 768px) {
  .metric, .metric.half, .metric.third {
    width: 100%;
  }
  .metric:not(:last-child) {
    margin-bottom: 15px;
  }
  .highlights .highlights-group {
    margin-right: 0px;
  }
}

/* HIGHLIGHTS */
.summary {
  display: flex;
  flex-wrap: wrap;
}
.highlights {
  padding: 10px 20px 0px 20px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}
.highlights-group {
  margin-right: 30px;
}
.highlights-group:last-child {
  margin-right: 0px;
}

.highlight {
  background: white;
  text-align: left;
  border-radius: 3px;
  display: inline-block;
  padding: 8px 10px;
  box-shadow: rgba(81, 107, 152, 0.15) 0px 1px 4px;
  border: 1px solid rgb(243, 241, 241);
  border-left: 4px solid rgb(74, 144, 226);
  font-size: 14px;
  margin-right: 15px;
  min-width: 100px;
  margin-bottom: 15px;
}
.highlight:last-child {
  margin-right: 0px;
}
.highlight.success {
  border-left: 4px solid #7ED321;
}
.highlight.fail {
  border-left: 4px solid #DA4E35;
}
.highlight.cancelled {
  border-left: 4px solid gray;
}
.highlight .title {
  font-weight: 500;
  padding-bottom: 10px;
}
.highlight .value {
  font-size: 15px;
  font-weight: 700;
}

/* HIGHCHARTS */
.highcharts-container {
  overflow: visible !important;
}
.no-data {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  font-size: 16px;
  min-height: 300px;
}

/* TOOLBAR */
.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 20px;
  background: white;
  box-shadow: 0px -4px 3px rgba(81, 107, 152, 0.15);
  max-height: 100px;
  max-height: 85px;
  overflow-y: auto;
}
.toolbar-item {
  margin: 8px 15px 8px 0px;
}
label {
  font-size: 15px;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 0px;
  vertical-align: middle;
}
input {
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  box-shadow: rgba(81, 107, 152, 0.15) 0px 1px 4px;
  border: 1px solid #d9d4d4;
  font-size: 14px;
}
button {
  border-radius: 4px;
  border: none;
  background-color: #2e71f0;
  color: white;
  font-size: 14px;
  height: 30px;
  padding: 4px 8px;
  cursor: pointer;
}
button:focus {
  outline: none;
}
button:hover,button.active,a.button:hover {
  background-color: #1948a2;
}
a.button {
  border-radius: 4px;
  border: none;
  background-color: #2e71f0;
  color: white;
  font-size: 14px;
  height: 30px;
  padding: 7px 8px;
  text-decoration: none;
  display: inline-block;
}
.button-group {
  display: inline-flex;
  vertical-align: middle;
}
.button-group button {
  border-radius: 0;
  border-right: 1px solid #404cd8;
}
.button-group button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.button-group button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
}
.button-group.tabs {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.button-group.tabs button {
  border-radius: 2px;
  background-color: rgb(246, 246, 246);
  color: rgb(67, 72, 77);
  font-size: 11px;
  padding: 4px 8px;
  height: unset;
  margin-right: 2px;
  border: 1px solid rgb(246, 246, 246);
}
.button-group.tabs button.active {
  border: 1px solid rgb(36, 103, 232);
  background-color: rgb(226, 232, 243);
}
.button-group.tabs button:last-child {
  margin-right: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
  vertical-align: middle;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: #2e71f0;
}
.switch input:focus + .slider {
  box-shadow: 0 0 1px #2e71f0;
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}