<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://code.highcharts.com/stock/highstock.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.min.js"></script>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900" />
    <link rel="stylesheet" href="../common/pancake_staking_dashboard.css" />
    <link rel="shortcut icon" href="https://app.intotheblock.com/favicon/favicon.ico">
  </head>
  <body></body>
  <script src="../common/pancake_staking_dashboard.js"></script>
  <script type='text/javascript'>
    document.addEventListener("DOMContentLoaded", function() {
      window.partner_name = '';
      window.strategy = 'pancake_staking';
      window.load_dashboard();
    });
  </script>
</html>